<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{PROJECT_NAME_CN}}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="shortcut icon" href="{{CDN_URL}}/favicon.png"/>
  <script
    src="https://jic.talkingdata.com/app/h5/v1?appid={{TALKING_DATA_ID}}&vn={{PROJECT_NAME}}&vc=1.0.0"
  ></script>
</head>
<body>
<div id="app"></div>
</body>
</html>
