<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>模板工程</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="shortcut icon" href="http://dev.image.res.paymini.com.cn/zb/favicon.png"/>
  <script
    src="https://jic.talkingdata.com/app/h5/v1?appid=67C3E2D859C74CC38518ECFE4F924C1F&vn=zhongbai-manage&vc=1.0.0"
  ></script>
</head>
<body>
<div id="app"></div>
</body>
</html>
